{:source-paths
 ["src"]

 :dependencies [[metosin/malli "0.11.0"]

                [binaryage/devtools "1.0.7"]]

 :dev-http
 {8000 "public"}

 :builds
 {:app {:target :browser
        :js-options {:entry-keys ["module" "browser" "main"]}
        :compiler-options {:infer-externs :auto
                           :output-feature-set :es6}
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"
        :modules {:main {:entries [app-name.core]
                         :init-fn app-name.core/init
                         :preloads [app-name.preload
                                    malli.dev.cljs-kondo-preload]}}
        :devtools
        {:before-load app-name.core/stop
         :after-load app-name.core/start
         :preloads [devtools.preload]}}}}


